@charset "UTF-8";

@font-face {
  font-family: "nuan-subfont";
  src: url("nuan-subfont.woff2") format("woff2"),
       url("nuan-subfont.woff") format("woff"),
       url("nuan-subfont.ttf") format("truetype"),
       url("nuan-subfont.eot") format("embedded-opentype"),
       url("nuan-subfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}